.table {
    align-items: center;
    margin-left: 10%;
}

.newData-Div {
    position: absolute;
    margin-left: 50%;
    background: gray;
    border: 2px solid black;
    padding: 20px;
}

.displayDivNone {
    display: none;
}